# Reference: https://docs.fief.dev/self-hosting/environment-variables/

# Fief Secrets
# If not already done, run onetime the following script to get needed values for 'XXX': ./scripts/onetime_get_ids.sh
SECRET=XXX
FIEF_CLIENT_ID=XXX
FIEF_CLIENT_SECRET=XXX
ENCRYPTION_KEY=XXX
PORT=8000
ROOT_DOMAIN=mydomain.com:8000
FIEF_DOMAIN=fief.mydomain.com:8000
FIEF_MAIN_USER_EMAIL=admin@mydomain.com
FIEF_MAIN_USER_PASSWORD=fiefwebapp
FIEF_SERVER_URL=http://fief.mydomain.com:8000

# Read more: https://docs.fief.dev/self-hosting/deployment/setup-database/
DATABASE_TYPE=POSTGRESQL
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=fief
DATABASE_PASSWORD=fiefwebapp
DATABASE_NAME=fief

REDIS_URL=redis://redis:6379

# Extras
#DATABASE_URL="postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@mydomain.com:5432/fief"
CSRF_COOKIE_SECURE=False
SESSION_DATA_COOKIE_SECURE=False
USER_LOCALE_COOKIE_SECURE=False
LOGIN_SESSION_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
LOGIN_HINT_COOKIE_SECURE=False
REGISTRATION_SESSION_COOKIE_SECURE=False
FORWARD_ALLOWED_IPS=*

# Do we have to use this too?
#FIEF_API_KEY="ABCD"
#FIEF_MAIN_ADMIN_API_KEY="ABCD"
#FIEF_ADMIN_SESSION_COOKIE_SECURE=False
# Optional if DB-Connection is doing trouble
#DATABASE_SSL_MODE=disable
TELEMETRY_ENABLED=false

# NiceGUI needs
UID=1000
GID=1000
